body {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    z-index: 10001;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
}
.navbar {
    padding: 10px 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    width: auto;
}

.navbar ul li {
    display: inline-block;
    padding: 1em;
}

.navbar ul li a {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.navbar img {
    width: 202px;
    height: 76px;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: #495E57;
    height: 406px;
    margin-bottom: 70px;
}



main img {
    width: 375px;
    height: 426px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: auto;
}

.intro p {
    font-family: "Karla", sans-serif;
    text-wrap:wrap;
    color: #EDEFEE;
    width: 260px;
    height: 80px;
    font-weight: medium;
}

.intro h1 {
    color: #F4CE14;
    font-family: "Markazi Text", serif;
    padding-top: 47px;
}

.intro h2 {
    color: #EDEFEE;
    font-family: "Markazi Text", serif;
}

.intro button {
    width: 200px;
    height: 60px;
    border-radius: 16px;
    background-color: #F4CE14;
    font-weight: bold;
    font-size: 18px;
    font-family: "Karla", sans-serif;
    box-shadow: black;
}

.foodContainer {
    background-color: #495E57;
    display: flex;
}

.menu {
    width: 200px;
    height: 60px;
    border-radius: 16px;
    background-color: #F4CE14;
    font-weight: bold;
    font-size: 18px;
    font-family: "Karla", sans-serif;
    box-shadow: black;
}

#specialContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    align-content: center;
}

#specialContainer h1 {
    font-size: 40px;
    font-family: "Karla", sans-serif;
}

#specialContainer button {
    margin-top: 20px;
}